*{
	margin: auto;
	padding: auto;
}

body{
	background-color:#008080;
}

.Header-bar{
	Font-Family:Ink Free, Segoe Script;
	Font-size:24px;
	display:inline-block;
	float:left;
	color:white;
	width:0;
}


.nav-bar{
	height:65px;
	width:100%;
	background-color:#020108;
	box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-bar a{
	left:86vw;
	color:white;
	text-align:center;
	height:65px;
	width:6.5vw;
	font-size:24px;
	text-decoration:none;
	vertical-align:middle;
	position:relative;
	display:table-cell;
}

.nav-bar a:hover{
	background-color:white;
	color:black;
}

#left-side{
	float:inline-start;
	position:absolute;
}

#left-side img{
	margin:20px 0 15px 35px;
}
#left-side #computer{
	margin:-15px 0 0 14px;
	color:white;
}

#left-side #internetexplorer{
	margin:-15px 0 0 7px;
	color:white;
}

#left-side #mydocuments{
	margin:-15px 0 0 14px;
	color:white;
}

#left-side #network{
	margin:-15px 0 0 7px;
	width:100px;
	text-align:center;
	color:white;
}

#left-side #notepad{
	margin:-15px 0 0 7px;
	width:100px;
	text-align:center;
	color:white;
}

#left-side #msn{
	margin:-15px 0 0 7px;
	width:100px;
	text-align:center;
	color:white;
}

#left-side #scriptimg{
	width:40px;
	height:40px;
}

#left-side #script{
	margin:-15px 0 0 6px;
	width:100px;
	text-align:center;
	color:white;
}

.Horloge{
	animation-duration:1s;
	margin: 580px 0 0 70vw;
	height:203px;
	width:296px;
	position:absolute;
	background-image: url("../images/WindowImage.png");
}

.Horloge h4{
	color:white;
	font-size:12px;
	margin:2px 0 0 5px;
}

.Picture_Profile{
	animation-duration:1s;
	margin:10px 0 0 32vw;
	height:203px;
	width:296px;
	position:absolute;
	background-image: url("../images/WindowImage.png");
}

.Picture_Profile h4{
	color:white;
	font-size:12px;
	margin:2px 0 0 5px;
}
.Picture_Profile img{
	width:160px;
	height:160px;
	border:darkgrey solid 2px;
	margin:10px 0 0 68px;
}

/* Presentation window */

.Front-text{
	margin:20px 0 0 2vw;
	height:416px;
	width:604px;
	background-image: url("../images/WindowMedium.png");
	box-shadow: -15px 13px 5px rgba(0, 0, 0, 0.2);
}

.Front-text h2{
	padding: 4px 0px 0px 10px;
	color:white;
}

.Front-text p{
	width:578px;
	font-size:24px;
	padding:20px 0px 0px 15px;
}

.Front-text hr{
	width:520px;
	margin:0px 0px 0px 14px;
}

/* Competences window */

#sliders{
	float:inline-start;
	margin:130px 0 0 20px;
}

#rightslide{
	margin-left:445px;

}

#leftslide{

}

.Mid-Text{
	margin:-332px 0 0 48vw;
	display:block;
	height:416px;
	width:604px;
	background-image:url("../images/WindowMedium.png");
	box-shadow: 15px 13px 5px rgba(0,0,0, 0.2);
}

.Mid-Text h2{
	padding: 4px 0px 0px 10px;
	color:white;
}

.Mid-Text p{
	width:578px;
	font-size:24px;
	padding:20px 0 0 15px;
}

.Mid-Text .mini-nav{
	margin:14px 0 0 9px;
	height:30px;
	width:589px;
	background-color:Grey;
	box-shadow:0 4px 5px rgba(0,0,0, 0.2);
}
#lang{
	display:block;
	margin:-150px 173px 0 0;
	float:right;
}

#img #htmlpng{
	width:240px;
	height:220px;
}

#img #csspng{
	margin-right:34px;
	width:170px;
	height:220px;
}

#img #jspng{
	margin:30px 28px 0 0;
	width:170px;
	height:160px;
}

#img #pythonpng{
	margin:30px 35px 0 0;
	width:170px;
	height:170px;
}

#img #sqlpng{
	margin:30px 35px 0 0;
	width:170px;
	height:160px;
}

#img #cpng{
	margin:20px 35px 0 0;
	width:180px;
	height:190px;
}

.Mid-Text a{
	color:white;
	text-decoration:none;
	height:30px;
	width:294.5px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
}

.Mid-Text a:hover{
	Background-color:white;
	color:black;
	box-shadow:3px 3px 3px rgba(0,0,0, 0.2);
	border: 2px solid black;
}

/*More infos window*/

.Lower-text{
	margin:-86px 0 0 15vw;
	display:block;
	height:416px;
	width:604px;
	background-image:url("../images/WindowMedium.png");
	box-shadow:7px 13px 5px rgba(0,0,0, 0.2);
}

.Lower-text h2{
	padding:4px 0px 0px 10px;
	color:white;
}

.Lower-text .mini-nav{
	margin:14px 0 0 9px;
	height:30px;
	width:589px;
	background-color:Grey;
	box-shadow:0 4px 5px rgba(0,0,0, 0.2);
}

.Lower-text a{
	color:white;
	text-decoration:none;
	height:30px;
	width:294.5px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.Lower-text a:hover{
	background-color:white;
	color:black;
	border:2px solid black;
}

/* footer */

#footer{
	position:fixed;
	height:30px;
	width:100%;
	margin:13px 0 0px 0px;
	background-color:#C0C0C0;
	bottom:0;
}
@media (max-width:1800px){
	.Picture_Profile{
		margin:800px 0 0 63vw;
	}
}
@media (max-width:1220px){
	body{overflow-y:scroll;}
	.Header-bar{}
	.nav-bar{width:100%;}
	.nav-bar a{
		left:80vw;
		width:9vw;
	}
	.Picture_Profile{
		margin:30px 0 0 60vw;
		left:0;
		position:absolute;
		float:inline-start;
		animation-duration:0s
	}
	.Front-text{margin:5px 0 0 1vw;}
	.Mid-Text{margin:-20px 0 0 40vw;}
	.Lower-text{margin:-10px 0 0 2vw;}
	.Horloge{margin:899px 0 0 65vw}
	#footer{bottom:0;
	position:fixed;}
}

@media (max-width: 810px){
	body{overflow-y:scroll;}
	.Header-bar{}
	.nav-bar{width:100%;}
	.nav-bar a{
		left:74vw;
		width:12vw;
	}
	.Picture_Profile{
		margin:0 0 0 32vw;
		left:0;
		position:inherit;
		float:none;
		animation-duration:0s
	}
	.Front-text{margin:0 0 0 12vw;}
	.Mid-Text{margin:0 0 0 12vw;}
	.Lower-text{margin:0 0 0 12vw;}
	.Horloge{display:none;}
	#footer{bottom:0;
	position:fixed;}
}

@media (max-width: 689px){
	body{overflow-y:scroll;}
	.Header-bar{}
	.nav-bar{width:100%;}
	.nav-bar a{
		left:66vw;
		width:16vw;
	}
	.Picture_Profile{
		margin:0 0 0 23vw;
		left:0;
		position:inherit;
		float:none;
		animation-duration:0s
	}
	.Front-text{
		width:420px;
		height:288px;
		margin:0 0 0 12vw;
		background-image: url("../images/WindowSmall.png")
	}
	.Front-text h2{
		font-size:20px;
		padding:0 0 0 5px;
	}
	.Front-text p{
		font-size:15.5px;
		width:400px;
	}
	.Front-text hr{
		width:380px;
	}
	.Mid-Text{
		width:420px;
		height:288px;
		margin:0 0 0 12vw;
		background-image: url("../images/WindowSmall.png")
	}
	.Mid-Text h2{
		font-size:20px;
		padding:0 0 0 5px;
	}

	.Mid-Text .mini-nav{
		width:405px;
	}
	.Lower-text{
		width:420px;
		height:288px;
		margin:0 0 0 12vw;
		background-image: url("../images/WindowSmall.png")
	}
	.Lower-text h2{
		font-size:20px;
		padding:0 0 0 5px;
	}
	.Lower-text .mini-nav{
		width:405px;
	}
	.Horloge{display:none;}
	#footer{bottom:0;
	position:fixed;}
}

@media (max-width: 479px){
	
	body{overflow-y:scroll;}
	.Header-bar{}
	.nav-bar{width:100%;}
	.nav-bar a{
		left:52vw;
		width:23vw;
	}
	.Picture_Profile{
		margin:0 0 0 13vw;
		left:0;
		position:inherit;
		float:none;
		animation-duration:0s
	}
	.Front-text{
		width:360px;
		height:247px;
		margin:0 0 0 6vw;
		background-image: url("../images/Window360size.png")
	}
	.Front-text h2{
		font-size:15px;
		padding:0 0 0 5px;
	}
	.Front-text p{
		font-size:14px;
		width:345px;
		margin-top:-13px;
	}
	.Front-text hr{
		width:315px;
	}
	.Mid-Text{
		width:360px;
		height:247px;
		margin:0 0 0 6vw;
		background-image: url("../images/Window360size.png")
	}
	.Mid-Text h2{
		font-size:15px;
		padding:0 0 0 5px;
	}

	.Mid-Text .mini-nav{
		width:344px;
	}
	.Lower-text{
		width:360px;
		height:247px;
		margin:0 0 0 6vw;
		background-image: url("../images/Window360size.png")
	}
	.Lower-text h2{
		font-size:15px;
		padding:0 0 0 5px;
	}
	.Lower-text .mini-nav{
		width:344px;
	}
	.Horloge{display:none;}
	#footer{bottom:0;
	position:fixed;}


}

@media (max-width: 390px){
	
	body{overflow-y:scroll;}
	.Header-bar{}
	.nav-bar{width:100%;}
	.nav-bar a{
		left:47vw;
		width:26vw;
	}
	.Picture_Profile{
		margin:0 0 0 7vw;
		left:0;
		position:inherit;
		float:none;
		animation-duration:0s
	}
	.Front-text{
		width:360px;
		height:247px;
		margin:0 0 0 0;
		background-image: url("../images/Window360size.png")
	}
	.Front-text h2{
		font-size:15px;
		padding:0 0 0 5px;
	}
	.Front-text p{
		font-size:14px;
		width:345px;
		margin-top:-13px;
	}
	.Front-text hr{
		width:315px;
	}
	.Mid-Text{
		width:360px;
		height:247px;
		margin:0 0 0 0;
		background-image: url("../images/Window360size.png")
	}
	.Mid-Text h2{
		font-size:15px;
		padding:0 0 0 5px;
	}

	.Mid-Text .mini-nav{
		width:344px;
	}
	.Lower-text{
		width:360px;
		height:247px;
		margin:0 0 0 0;
		background-image: url("../images/Window360size.png")
	}
	.Lower-text h2{
		font-size:15px;
		padding:0 0 0 5px;
	}
	.Lower-text .mini-nav{
		width:344px;
	}
	.Horloge{display:none;}
	#footer{bottom:0;
	position:fixed;}


}


